@model List<ContatoModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Add novo Contato</a>
    </div>
    <br/>

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
        </div>
    }

    @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br/>

    <h1 class="display-4">Lista de Contatos</h1>

    <table class="table" id="table-contatos">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

            @if(Model != null && Model.Any())
            {
                foreach(ContatoModel listContato in Model)
                {
                    <tr>
                      <th scope="row">@listContato.id</th>
                      <td>@listContato.nome</td>
                      <td>@listContato.email</td>
                      <td>@listContato.telefone</td>
                      <td>
                          <div class="btn-group" role="group">
                              <a role="button" class="btn btn-primary" asp-route-id="@listContato.id" asp-controller="Contato" asp-action="Editar" >Editar</a>
                              <a role="button" class="btn btn-danger" asp-route-id="@listContato.id" asp-controller="Contato" asp-action="ApagarConfirmacao" >Apagar</a>
                            </div>
                      </td>
                    </tr>
                }
            }

      </tbody>
    </table>

</div>
